.footer {
    width: calc(100%-20px);
    background: white;
    padding: 10px;
    .footer-list-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        .footer-list {
            width: 50%;
            list-style: none;
            .footer-list-item {
                font-size: 1.5rem;
                margin: 8px 0;
                a {
                    font-size: 1.5rem;
                    text-decoration: none;
                    color: rgb(34, 91, 156);
                    &:hover {
                        color: rgb(152, 195, 245);
                    }
                }
                &:first-child {
                    font-weight: 600;
                }
            }
        }
    } 
    .google-play-download-button {
        width: 125px;
        height: 35px;
        margin: 10px;
        border-radius: 3px;
        background-image: url(../img/google-play-img.jpg);
        &:hover {
            cursor: pointer;
        }
    }
    .footer-text, .footer-copyright{
        font-size: 1.3rem;
        margin: 10px 0;
    }
}