.info {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    .info-text {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 600;
        color: rgb(34, 91, 156);
        &:hover {
            color: rgb(152, 195, 245);
        }
    }
    .info-icon {
        width: 18px;
        height: 18px;
        margin-right: 5px;
        path {
            stroke-width: 5px;
            fill: red;
            stroke: black
        }
    }
}