.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    .filter {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        background-color: white;
        .filter-category-wrapper, .filter-sort-wrapper {
            margin: 0 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            .filter-category-label, .filter-sort-label {
                font-size: 1.5rem;
                margin-bottom: 5px;
            }
            .filter-category-select, .filter-sort-select {
                font-size: 1.3rem;
                padding: 5px;
                border: 1px solid rgb(198, 220, 245);
            }
        }
        .filter-sort-settings {
            margin: 0 10px;
            width: 24px;
            height: 24px;
            background-color: rgba(0, 0, 0, 0);
            border: none;
            &:hover {
                cursor: pointer;
            }
            path {
                stroke-width: 5px;
                stroke: black
            }
        }
    }
    .products-list {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        .products-list-item {
            width: 95%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            border-top: 1px solid rgb(198, 220, 245);
            padding: 10px 2.5%;
            background-color: white;
            &:hover {
                background-color: rgb(247, 247, 247);
            }
            .products-content-wrapper {
                width: 100%;
                display: flex;
                align-items: center;
                .products-img {
                    width: 100px;
                    max-height: 100px;
                }
                .products-name {
                    text-decoration: none;
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-left: 30px;
                    color: rgb(34, 91, 156);
                    &:hover {
                        color: rgb(152, 195, 245);
                    }
                }
            }
            .products-button {
                background-color: rgba(0, 0, 0, 0);
                border: 1px solid rgb(34, 91, 156);
                border-radius: 5px;
                font-size: 1.5rem;
                width: 30%;
                padding: 10px;
                transition: 0.5s;
                &:hover {
                    color: #FFF;
                    background-color: rgb(34, 91, 156);
                    cursor: pointer;
                }
                .products-price {
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }
        }
    }
}