@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

@import "./header";
@import "./nav";
@import "./menu";
@import "./info";
@import "./main-content";
@import "./pagination";

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: "roboto";
    // border: 1px red solid;
}

body {
    background-color: rgb(229, 236, 240);
}

.footer {
    width: calc(100%-20px);
    background: white;
    padding: 10px;
    .footer-list-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        .footer-list {
            width: 50%;
            list-style: none;
            .footer-list-item {
                font-size: 1.5rem;
                margin: 5px 0;
                a {
                    font-size: 1.5rem;
                    text-decoration: none;
                    color: rgb(34, 91, 156);
                    &:hover {
                        color: rgb(152, 195, 245);
                    }
                }
                &:first-child {
                    font-weight: 600;
                }
            }
        }
    } 
}