@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap");
.header {
  width: 100%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-wrapper {
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-wrapper .header-title {
  font-size: 4rem;
}

.header .header-wrapper .header-title .header-o-letter {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 2.2em;
  height: 2.2rem;
  border-radius: 50%;
  background-color: red;
  border: 0.4rem solid #ff6969;
}

.header .header-wrapper .header-title .header-o-letter:nth-child(2) {
  background-color: green;
  border: 0.4rem solid #46a746;
}

.header .header-wrapper .header-title .header-o-letter:nth-child(3) {
  background-color: blue;
  border: 0.4rem solid #6969ff;
}

.header .header-wrapper .header-subtitle {
  font-size: 1.4rem;
  color: black;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 40px;
}

.nav-list .nav-list-item {
  list-style: none;
}

.nav-list .nav-list-item .nav-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  text-decoration: none;
}

.nav-list .nav-list-item .nav-list-link svg {
  width: 20px;
  height: 20px;
}

.nav-list .nav-list-item .nav-list-link svg path {
  stroke: black;
  stroke-width: 2px;
}

.nav-list .nav-list-item .nav-list-link .nav-list-text {
  font-size: 1.3rem;
  font-weight: 600;
}

.nav-list .nav-list-item .nav-list-link:hover {
  color: #225b9c;
}

.nav-list .nav-list-item:nth-child(5) path {
  stroke-width: 6px !important;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  height: 40px;
}

.search-form .search-input {
  font-size: 20px;
  width: 100%;
  padding-left: 10px;
  border: solid #d6d6d6 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-form .search-input::-webkit-input-placeholder {
  color: #969696;
}

.search-form .search-input:-ms-input-placeholder {
  color: #969696;
}

.search-form .search-input::-ms-input-placeholder {
  color: #969696;
}

.search-form .search-input::placeholder {
  color: #969696;
}

.search-form .search-input:focus {
  -webkit-box-shadow: 0 0 0 5px #66baff;
          box-shadow: 0 0 0 5px #66baff;
  outline: none;
}

.search-form .search-button {
  width: 40px;
  height: 40px;
  background-color: #ff5e00;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search-form .search-button svg {
  width: 20px;
  height: 20px;
}

.search-form .search-button svg path {
  stroke: white;
  stroke-width: 3px;
}

.search-form .search-button:hover {
  background-color: #2266ce;
  cursor: pointer;
}

.menu {
  width: 100%;
  background-color: #e5ecf0;
  padding-bottom: 15px;
  border-top: 1px solid #c6dcf5;
}

.menu .menu-header {
  font-size: 2rem;
  padding: 5px 10px;
}

.menu .menu-content-wrapper {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFF;
}

.menu .menu-content-wrapper .menu-button {
  min-width: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 1.7rem;
  font-weight: 600;
}

.menu .menu-content-wrapper .menu-button:hover {
  cursor: pointer;
}

.menu .menu-content-wrapper .menu-list {
  list-style: none;
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: scroll;
  overflow-y: hidden;
}

.menu .menu-content-wrapper .menu-list .menu-list-item {
  border: 1px solid #c6dcf5;
  white-space: nowrap;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #225b9c;
  margin: 10px;
  padding: 5px 10px;
}

.menu .menu-content-wrapper .menu-list .menu-list-item:hover {
  cursor: pointer;
  background-color: #e7e7e7;
}

.info {
  width: 100%;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info .info-text {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #225b9c;
}

.info .info-text:hover {
  color: #98c3f5;
}

.info .info-icon {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.info .info-icon path {
  stroke-width: 5px;
  fill: red;
  stroke: black;
}

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "roboto";
}
/*# sourceMappingURL=style.css.map */