@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap");
.header {
  width: 100%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.header .header-wrapper {
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-wrapper .header-title {
  font-size: 4rem;
}

.header .header-wrapper .header-title .header-o-letter {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 2.2em;
  height: 2.2rem;
  border-radius: 50%;
  background-color: red;
  border: 0.4rem solid #ff6969;
}

.header .header-wrapper .header-title .header-o-letter:nth-child(2) {
  background-color: green;
  border: 0.4rem solid #46a746;
}

.header .header-wrapper .header-title .header-o-letter:nth-child(3) {
  background-color: blue;
  border: 0.4rem solid #6969ff;
}

.header .header-wrapper .header-subtitle {
  font-size: 1.4rem;
  color: black;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  background-color: white;
}

.nav-list .nav-list-item {
  list-style: none;
}

.nav-list .nav-list-item .nav-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  text-decoration: none;
}

.nav-list .nav-list-item .nav-list-link svg {
  width: 20px;
  height: 20px;
}

.nav-list .nav-list-item .nav-list-link svg path {
  stroke: black;
  stroke-width: 2px;
}

.nav-list .nav-list-item .nav-list-link .nav-list-text {
  font-size: 1.3rem;
  font-weight: 600;
}

.nav-list .nav-list-item .nav-list-link:hover {
  color: #225b9c;
}

.nav-list .nav-list-item:nth-child(5) path {
  stroke-width: 6px !important;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  height: 40px;
  background-color: white;
}

.search-form .search-input {
  font-size: 20px;
  width: 100%;
  padding-left: 10px;
  border: solid #d6d6d6 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-form .search-input::-webkit-input-placeholder {
  color: #969696;
}

.search-form .search-input:-ms-input-placeholder {
  color: #969696;
}

.search-form .search-input::-ms-input-placeholder {
  color: #969696;
}

.search-form .search-input::placeholder {
  color: #969696;
}

.search-form .search-input:focus {
  -webkit-box-shadow: 0 0 0 5px #66baff;
          box-shadow: 0 0 0 5px #66baff;
  outline: none;
}

.search-form .search-button {
  width: 40px;
  height: 40px;
  background-color: #ff5e00;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search-form .search-button svg {
  width: 20px;
  height: 20px;
}

.search-form .search-button svg path {
  stroke: white;
  stroke-width: 3px;
}

.search-form .search-button:hover {
  background-color: #2266ce;
  cursor: pointer;
}

.menu {
  width: 100%;
  background-color: #e5ecf0;
  padding-bottom: 15px;
  border-top: 1px solid #c6dcf5;
}

.menu .menu-header {
  font-size: 2rem;
  padding: 5px 10px;
}

.menu .menu-content-wrapper {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFF;
}

.menu .menu-content-wrapper .menu-button {
  min-width: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 1.7rem;
  font-weight: 600;
}

.menu .menu-content-wrapper .menu-button:hover {
  cursor: pointer;
}

.menu .menu-content-wrapper .menu-list {
  list-style: none;
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: scroll;
  overflow-y: hidden;
}

.menu .menu-content-wrapper .menu-list .menu-list-item {
  border: 1px solid #c6dcf5;
  white-space: nowrap;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #225b9c;
  margin: 10px;
  padding: 5px 10px;
}

.menu .menu-content-wrapper .menu-list .menu-list-item:hover {
  cursor: pointer;
  background-color: #e7e7e7;
}

.info {
  width: 100%;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.info .info-text {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #225b9c;
}

.info .info-text:hover {
  color: #98c3f5;
}

.info .info-icon {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.info .info-icon path {
  stroke-width: 5px;
  fill: red;
  stroke: black;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.main-content .filter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  background-color: white;
}

.main-content .filter .filter-category-wrapper, .main-content .filter .filter-sort-wrapper {
  margin: 0 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content .filter .filter-category-wrapper .filter-category-label, .main-content .filter .filter-category-wrapper .filter-sort-label, .main-content .filter .filter-sort-wrapper .filter-category-label, .main-content .filter .filter-sort-wrapper .filter-sort-label {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.main-content .filter .filter-category-wrapper .filter-category-select, .main-content .filter .filter-category-wrapper .filter-sort-select, .main-content .filter .filter-sort-wrapper .filter-category-select, .main-content .filter .filter-sort-wrapper .filter-sort-select {
  font-size: 1.3rem;
  padding: 5px;
  border: 1px solid #c6dcf5;
}

.main-content .filter .filter-sort-settings {
  margin: 0 10px;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.main-content .filter .filter-sort-settings:hover {
  cursor: pointer;
}

.main-content .filter .filter-sort-settings path {
  stroke-width: 5px;
  stroke: black;
}

.main-content .products-list {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.main-content .products-list .products-list-item {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-top: 1px solid #c6dcf5;
  padding: 10px 2.5%;
  background-color: white;
}

.main-content .products-list .products-list-item:hover {
  background-color: #f7f7f7;
}

.main-content .products-list .products-list-item .products-content-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .products-list .products-list-item .products-content-wrapper .products-img {
  width: 100px;
  max-height: 100px;
}

.main-content .products-list .products-list-item .products-content-wrapper .products-name {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 30px;
  color: #225b9c;
}

.main-content .products-list .products-list-item .products-content-wrapper .products-name:hover {
  color: #98c3f5;
}

.main-content .products-list .products-list-item .products-button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #225b9c;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 30%;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-content .products-list .products-list-item .products-button:hover {
  color: #FFF;
  background-color: #225b9c;
  cursor: pointer;
}

.main-content .products-list .products-list-item .products-button .products-price {
  font-size: 1.5rem;
  font-weight: 600;
}

.pagination {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.pagination svg {
  width: 36px;
  height: 36px;
}

.pagination svg path {
  stroke: #225b9c;
  stroke-width: 2px;
}

.pagination svg:hover path {
  stroke: #FFF;
  stroke-width: 3px;
}

.pagination .pagination-page-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination .pagination-page-list .pagination-page-list-button {
  font-size: 1.5rem;
  font-weight: 600;
}

.pagination button {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #c6dcf5;
  color: #225b9c;
}

.pagination button:hover {
  color: #FFF;
  background-color: #225b9c;
  cursor: pointer;
}

.pagination .pagination-first-button, .pagination .pagination-prev-button {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.pagination .pagination-last-button, .pagination .pagination-next-button {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.footer {
  width: calc(100%-20px);
  background: white;
  padding: 10px;
}

.footer .footer-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-list-wrapper .footer-list {
  width: 50%;
  list-style: none;
}

.footer .footer-list-wrapper .footer-list .footer-list-item {
  font-size: 1.5rem;
  margin: 8px 0;
}

.footer .footer-list-wrapper .footer-list .footer-list-item a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #225b9c;
}

.footer .footer-list-wrapper .footer-list .footer-list-item a:hover {
  color: #98c3f5;
}

.footer .footer-list-wrapper .footer-list .footer-list-item:first-child {
  font-weight: 600;
}

.footer .google-play-download-button {
  width: 125px;
  height: 35px;
  margin: 10px;
  border-radius: 3px;
  background-image: url(../img/google-play-img.jpg);
}

.footer .google-play-download-button:hover {
  cursor: pointer;
}

.footer .footer-text, .footer .footer-copyright {
  font-size: 1.3rem;
  margin: 10px 0;
}

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "roboto";
}

body {
  background-color: #e5ecf0;
}
/*# sourceMappingURL=style.css.map */